.navbar {
    background-color: #28FFBF;
    padding: 0;
}

.navbar-brand {
    width:150px;
    font-size: 24px;
}

.navbar-brand img {
    height: 200px;
    float: left;
    margin-right: 7px;
}

.nav-item {
    color: #EEEEEE;
}

